{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>

                    <div class="mx-0 mx-md-4 posts">
                        <h1>{{ i18n "blog_posts" }}</h1>
                        <ul class="list-unstyled">
                            {{ range .Data.Pages.GroupByDate "Jan, 2006" "desc"}}
                                <li class="groupby">{{ .Key }}</li>
                                {{ range sort .Pages "Date" "desc" }}
                                    {{ partial "list" . }}
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
