{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <h1 class="mx-0 mx-md-4">{{ .Title }}</h1>

                    <div class="meta">
                        <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">
                            {{ .Date.Format .Site.Params.dateform }}
                        </div>

                        {{ if not .Params.noauthor }}
                            {{ if .Params.author }}
                                <div class="author middot" title="{{ .Params.Author }}">
                                    {{ .Params.author }}
                                </div>
                            {{ end }}
                        {{ end }}

                        <div class="reading-time middot">
                            {{ .ReadingTime }} minute read
                        </div>

                        <div class="d-none d-md-block tags">
                            <ul class="list-unstyled">
                                {{ range .Params.tags }}
                                    <li class="middot">
                                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>

                        <div class="tags">
                            <ul>
                                {{ if isset .Params "hacker_news_id" }}
                                    {{ if ne .Params.hacker_news_id "" }}
                                        <li class="middot">
                                            <a href="https://news.ycombinator.com/item?id={{ .Params.hacker_news_id }}">Hacker News</a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                                {{ if isset .Params "lobsters_id" }}
                                    {{ if ne .Params.lobsters_id "" }}
                                        <li class="middot">
                                            <a href="https://lobste.rs/s/{{ .Params.lobsters_id }}">Lobsters</a>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </div>
                    </div>

                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>

                    {{ if .Site.Params.posts_navigation }}
                        <div class="navigation">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    {{ if .PrevInSection }}
                                        <div class="mt-4 text-left">
                                            <img class="icon" src="/img/back.svg" alt="back" />
                                            <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
                                        </div>
                                    {{ end }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ if .NextInSection }}
                                        <div class="mt-4 text-right">
                                            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
                                            <img class="icon" src="/img/next.svg" alt="next" />
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
