{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="markdown">
                        <h1 class="mx-0 mx-md-4">
                            {{ if eq .Title "Tags" }}
                                {{ i18n "title_tags" . }}
                            {{ else }}
                                {{ .Title }}
                            {{ end }}
                        </h1>

                        <p class="h4">
                            {{ $data := .Data }}
                            {{ range $key, $value := .Data.Terms.Alphabetical }}
                                <a href="{{ $value.Name | urlize }}" class="badge badge-light text-monospace">
                                    {{ $value.Name }}
                                    <span class="badge badge-secondary">{{ $value.WeightedPages.Count }}</span>
                                </a>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
