<div class="my-4 footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="mx-0 mx-md-4 mb-2 text-center text-md-left">
                    {{ range .Site.Menus.footer.ByWeight }}
                        <div>
                            <a class="mx-1 mr-md-2 ml-md-0 {{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                                {{ .Pre }}
                                {{ .Name }}
                            </a>
                        </div>
                    {{ end }}

                    {{ if .Site.Params.copyright }}
                        {{ if .Site.Params.copyrightUrl }}
                            <a href="{{ .Site.Params.copyrightUrl }}">{{ .Site.Params.copyright }}</a>
                        {{ else }}
                            <a href="{{ .Site.BaseURL }}license">{{ .Site.Params.copyright }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
                <div class="mx-0 mx-md-4 text-center text-md-right">
                    {{ partial "footer_500px" . }}
                    {{ partial "footer_gitlab" . }}
                    {{ partial "footer_github" . }}
                    {{ partial "footer_facebook" . }}
                    {{ partial "footer_twitter" . }}
                    {{ partial "footer_mastodon" . }}
                    {{ partial "footer_telegram" . }}
                    {{ partial "footer_linkedin" . }}
                    {{ partial "footer_email" . }}
                    {{ partial "footer_rss" . }}

                    {{ if .IsTranslated }}
                        <div>
                            {{ range .Translations }}
                                <a href="{{ .Permalink }}" class="mx-1 ml-md-2 mr-md-0">
                                    <strong>{{ upper .Language.LanguageName }}</strong>
                                </a>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
