<div class="my-4 my-md-5 header">
    <div class="container">
        <div class="row">
            <div class="col-auto offset-md-1">
                {{ if .Site.Params.logofile }}
                    <a class="d-none d-md-block" href="{{ .Site.BaseURL }}">
                        <img class="logo" src="{{ .Site.Params.logofile | absURL }}" alt="logo">
                    </a>
                {{ end }}
            </div>
            <div class="col-auto align-self-center">
                <a href="{{ .Site.BaseURL }}">
                    <h1 class="font-weight-bold name">{{ .Site.Title }}</h1>
                </a>

                <ul class="nav nav-primary">
                    {{ range .Site.Menus.primary.ByWeight }}
                        <li class="nav-item">
                            <a class="text-uppercase nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                                {{ .Pre }}
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul>

                <ul class="nav nav-secondary">
                    {{ range .Site.Menus.secondary.ByWeight }}
                        <li class="nav-item">
                            <a class="text-uppercase font-weight-bold nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                                {{ .Pre }}
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
