{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>

                    {{ if isset .Site.Params "best_posts" }}
                        <div class="mx-0 mx-md-4 best-posts">
                            <div class="page-heading">📌 {{ i18n "pinned" }}</div>
                            <ul>
                                {{ range .Site.Params.best_posts }}
                                    <li>
                                        <a href="{{ .url }}">{{ .title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}

                    {{ if isset .Site.Params "latestpostcount" }}
                        <div class="mx-0 mx-md-4 posts">
                            {{ $nbPosts := len (where .Site.RegularPages "Section" "blog") }}

                            {{ if gt $nbPosts 0 }}
                                <div class="page-heading">{{ i18n "latest_posts" }}</div>
                                <ul class="px-0">
                                    {{ range (first .Site.Params.latestpostcount (where .Site.RegularPages "Section" "blog")).GroupByDate "Jan, 2006" "desc" }}
                                        <li class="groupby">{{ .Key }}</li>
                                        {{ range sort .Pages "Date" "desc" }}
                                            {{ partial "list" . }}
                                        {{ end }}
                                    {{ end }}
                                </ul>

                                {{ if gt $nbPosts .Site.Params.latestpostcount }}
                                    <a href="./blog/" class="font-italic mt-4 see-more">{{ i18n "see_more" }}</a>
                                {{ end }}
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
